<div class="post-frame">
    <a href="/posts?id=<%= locals.post.id%>" class="dark-color"><h2><%= locals.post.title %></h2></a>
    <span class="post-date light-color-date">22:11</span><span><a  class="light-color" href="/explore?query=<%=locals.post.tag%>"><%= locals.post.tag %></a></span>
</div>
