
.form-inline{
    transform:translateY(10px);
}
.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.signin {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;

}
.carousel{
    height: 500px;
    padding: 0 50px;
    margin-top:30px
}
body{
    background-color: #f5f5f5!important;
}

.about-frame{
    margin: 100px auto;
}
.about-frame p{
    text-align: center;
    font-weight: 700;
}

.caption{
    position: absolute;
    top: 10px!important;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    color:#fff;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.container{
    padding-bottom: 120px!important;
}
.footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #343a40!important;
    color: #fff;
    padding: 20px;
}

.explore-frame{
    position: relative;
    margin: 20px 0 70px 0;
}

.explore-left{
    width:69%;
    background-color: rgba(250,250,250,1);
    border-radius: 3px;
    padding:1em
}
.explore-right{
    position: absolute;
    top:0;
    right: 0;
    width: 30%;
    background-color: rgba(250,250,250,1);
    border-radius: 3px;
    padding: 1em;
    margin-bottom:80px;
}
.post-frame{
    padding: 20px 30px;
    border-bottom: 1px solid #818182;
    display: flex;
    flex-direction: column;
}

.post-date{
    margin-right: 1em;
    font-size: 12px;
}
.light-color,.light-color-date{
    color:#818182;
}
.dark-color{
    color: #000;
}
.dark-color:hover{
    color: #000;
    text-decoration: none;
}
.light-color:hover{
    color: cornflowerblue;
    text-decoration: none;
}

.tag-list{
    display: flex;
    flex-flow:row wrap;
    padding: 10px;
    background-color: white;
}
.tag-list li{
    flex:0 0 31%;
    list-style: none;
    border:1px solid cornflowerblue;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 2px 5px 2px 0;
    text-align: center;
}
.myspace-frame {
    position: relative;
    margin: 20px 0;
    background-color: rgb(250,250,250);
}
.posts-detail-frame {
    position: relative;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
.posts-detail-tag{
    align-self: flex-end;
}
.posts-detail-time{
    align-self: flex-end;
    font-style: italic;
    font-size: 12px;
}
.posts-detail-destination{
    align-self: flex-end;
}
.posts-detail-delete{
    align-self: flex-end;
}
.div-comment{
    display: flex;
    flex-direction: column;
}
.btn-comment{
    margin: 10px 0;
    align-self: flex-end;
}
.comment-frame{
    position: relative;
    background-color: #F7F8E7;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.comment-username{
    align-self: flex-start;
    font-weight: bold;
}
.comment-time{
    align-self: flex-end;
    font-style: italic;
    font-size: 12px;
}
.post-image{
    height: 400px;
}
.div-select-type{
    margin-right: 5px;
    display: flex;
    flex-direction: row;
}
.mashup-weather{
    display: flex;
    flex-direction: column;
}

.travel_ideas h4{
    padding: 15px;
}

.mashup-covid{
    position: relative;
}
.virus-icon{
    position: absolute;
    right:-1em;
    top:-1em;
}

.form-editIdea{
    width: 100%;
    max-width: 330px;
    padding: 15px;
}