<%- include('widgets/header'); -%>

<div class="about-frame">
    <p>CREATED BY</p>
    <p>NG WAI YAN -- 3035670309</p>
    <p>SHUNHANG ZHANG -- 3035562227</p>
    <p>SIYAO ZHENG -- 3035657527</p>
</div>

<%- include('widgets/footer'); -%>