<%- include('widgets/header'); -%>

<div class="travel_ideas" id="edit_idea">
    <h4>Please use the form below to share your idea.</h4>
    <form class="form-editIdea">
        <div class="form-group">
            <label for="title">Title: </label>
            <input type="text" class="form-control" id="title">
        </div>

        <div class="form-group">
            <label for="destination">Destination: </label>
            <input type="text" class="form-control" id="destination">
        </div>

        <div class="form-group">
            <label for="start_date">Start Date: </label>
            <input type="date" class="form-control" id="start_date">
        </div>

        <div class="form-group">
            <label for="end_date">End Date: </label>
            <input type="date" class="form-control" id="end_date">
        </div>

        <div class="form-group">
            <label for="tag2">Tag 1: </label>
            <input type="text" class="form-control" id="tag1">
        </div>

        <div class="form-group">
            <label for="tag1">Tag 2 (Optional): </label>
            <input type="text" class="form-control" id="tag2">
        </div>

        <div class="form-group">
            <label for="tag3">Tag 3 (Optional): </label>
            <input type="text" class="form-control" id="tag3">
        </div>

        <div class="form-group">
            <label for="tag4">Tag 4 (Optional): </label>
            <input type="text" class="form-control" id="tag4">
        </div>

        <div class="form-group">
            <label for="tag5">Tag 5 (Optional): </label>
            <input type="text" class="form-control" id="tag5">
        </div>

        <div class="form-group">
            <label for="upload_image">Upload Image (Optional): </label>
            <input class="form-control" type="file" id="upload_image" accept="" />
        </div>

        <button type="submit" class="btn btn-primary" id="submit">Submit</button>

    </form>
</div>

<script>
    $(function () {
        function popError(msg) {
            let errors = document.querySelector('#errors')
            let frag = document.createDocumentFragment();
            for (let i = 0; i < msg.length; i++) {
                let li = document.createElement('li')
                li.innerText = msg[i]
                frag.appendChild(li)
            }
            if (errors) {
                $('#errors').html(frag)
            } else {
                $('#edit_idea').append(`<ul id="errors" class="alert alert-danger" style="width: 80%"></ul>`)
                $('#errors').html(frag)
            }
        }

        // onlick listener for the form submit button 
        $('#submit').click(function (e) {
            e.preventDefault();
            let errorArr = []
            let title = $("#title").val();
            let destination = $('destination').val();
            let start_date = $('start_date').val();
            let end_date = $('end_date').val();
            let tag1 = $('#tag1').val();
            let tag2 = $('#tag2').val();
            let tag3 = $('#tag3').val();
            let tag4 = $('#tag4').val();
            let tag5 = $('#tag5').val();
            let tags = [];

            if (title.length < 5) {
                errorArr.push('Wrong format in title');
            }

            if (destination.length < 5) {
                errorArr.push('Wrong format in destination');
            }

            if (start_date == undefined) {
                errorArr.push('Wrong format in start date');
            }

            if (end_date == undefined) {
                errorArr.push('Wrong format in end date');
            }

            if (tag1.length > 0) {
                tags.push(tag1);
            } else {
                errorArr.push('Tag 1 must be filled');
            }

            if (tag2.length > 0) {
                tags.push(tag2);
            }
            if (tag3.length > 0) {
                tags.push(tag3);
            }
            if (tag4.length > 0) {
                tags.push(tag4);
            }
            if (tag5.length > 0) {
                tags.push(tag5);
            }

            $.ajax({
                type: 'POST',
                url: '/api/new_idea',
                data: {
                    title,
                    destination,
                    start_date,
                    end_date,
                    tags
                },
                success: function (res) {
                    console.log(res)
                    if (res.errno === 0) {
                        location.assign('/')
                    } else {
                        let errors = document.querySelector('#errors')
                        let li = document.createElement('li')
                        li.innerText = res.msg
                        if (errors) {
                            $('#errors').html(li)
                        } else {
                            $('#register').append(
                                `<ul id="errors" class="alert alert-danger" style="width: 80%"></ul>`
                                )
                            $('#errors').html(li)
                        }
                    }
                },
                error: function (e) {
                    console.log(e)
                }
            })

        });
    })
</script>

<%- include('widgets/footer'); -%>