<%- include('widgets/header'); -%>


<% if(locals.recommendations.length===0){%>
    <div class="about-frame">
        <p>No Experiences Share Yet</p>
    </div>
<%}%>

<%if(locals.recommendations.length !== 0){%>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" style="height: 100%">
            <div class="caption"><p>Today's Recommendations</p></div>
            <% locals.recommendations.forEach((recommendation,index)=>{%>
                <%- include('widgets/carouselItem',{ recommendation,index }); -%>
            <%})%>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

<%}%>


<%- include('widgets/footer'); -%>