<%- include('widgets/header'); -%>

<div class="myspace-frame">
    <% if(!posts || posts.length === 0){%>
        <div>
            No Posts Yet
        </div>
    <%}%>
    <% if(posts){%>
        <% posts.forEach(function (post) { %>
            <%- include('widgets/post',{post:post}); -%>
        <%})%>
    <%}%>
</div>


<%- include('widgets/footer'); -%>